h1{
font-style: cursive;
text-align: center;
font-weight: bold;
background-color: #77D4DD;
height: 100px;
width: 100%;
}
*{
	margin: 0;   
}
table{
	margin: auto;
	border-radius: 10px;
     /*Establece el redondeo de las esquinas del elmento*/
	border:#B8AFD2 3px solid;
     /*Establece el borde*/	
}

th{
	text-align: center;
}
select {    
    background-color: transparent;
    /*el color de fondo sea nulo*/
}
}
.btnAct{
  display: inline-block;
  font-size: 15px;
  padding: 8px 18px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #198754;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}